@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}
